.user-node {
    border: 1px solid black;
    padding: 20px;
    background: white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url('./../../../public/images/default-avatar.png');
    background-size: contain;
}

.user-node label {
    display: block;
    color: #777;
    font-size: 12px;
}